body{
    background-color:#242538;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
    flex-direction: column;
    color:#FFF;
}

.canvas{
    width:500px;
    height:500px;
    /* background-color: #FFF; */
    border-radius: 10px;
    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.2); */
    transform:rotate(0deg);
}

.canvas.deg-90{
    transform:rotate(90deg);
}

.canvas.deg-180{
    transform:rotate(180deg);
}

.canvas.deg-270{
    transform:rotate(270deg);
}


.control_color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}

.color{
    width:40px; height:40px;
    border-radius: 50%;
    margin:0 5px;
    cursor: pointer;
}